fastapi
uvicorn
transformers
transformers[sentencepiece]
torch
pydantic
python-multipart
typing-extensions
pyYAML
sacrebleu

rouge-score
pandas  
nltk
matplotlib
tqdm
py7zr
boto3
mypy-boto3-s3
python-box
ensure
fastapi
uvicorn
Jinja2
-e .